HTML
{
    HEIGHT: 100%;               /*Fondo:#1a67b5----- Boton:#5279c6*/
}
body
{
	background-color: #F3F3F3;
	/*BACKGROUND:url(../images/background.jpg) repeat-x;*/
	margin-top: 0px;
	margin-left: 0px;
}

.textbox-uppercase
{
    text-transform: uppercase;
    color: black;
}

.texto-derecha
{         
    text-align:right
}

.chkbox INPUT
{
 COLOR: black;
 border-style: none;
 font-family: Tahoma;
 font-size: 11px;
 margin-right: 5px
}

#message_box {
position: absolute;
top: 0; left: 0;
z-index: 10;
background:#ffc;
padding:5px;
border:1px solid #CCCCCC;
text-align:center;
font-weight:bold;
width:99%;
}


    
.tabla-principal
{
    BORDER-BOTTOM: 0px;
    BORDER-LEFT: 0px;
    PADDING-BOTTOM: 0px;
    BACKGROUND:#868686 url(../images/background5.jpg) repeat-x;
    /*BACKGROUND-COLOR: #EDEDED;*/
    PADDING-LEFT: 1px;
    WIDTH: 100%;
    PADDING-RIGHT: 2px;
    /*BORDER-COLLAPSE: collapse;*/
    FONT-FAMILY:"FS ALBERT", VERDANA, ARIAL;
    COLOR: #828282;
    FONT-SIZE: 11px;
    FONT-WEIGHT: bold;
    BORDER-TOP: 0px;
    BORDER-RIGHT: 0px;
    PADDING-TOP: 1px;
    border-color:#EDEDED;
}

.tabla-cabecera
{
    BACKGROUND-COLOR: #F8981D;
    FONT-FAMILY:"FS ALBERT", VERDANA, ARIAL;
    COLOR: #FFFFFF;
    FONT-SIZE: 11px;
    FONT-WEIGHT: bold
}


.tabla-subcabecera
{
    /*BACKGROUND-COLOR: #fcb034;*/
    BACKGROUND:url(../images/fondo-subcabecera5.jpg) repeat-x;
    FONT-FAMILY:"FS ALBERT", VERDANA, ARIAL;
    COLOR: #FFFFFF;
    FONT-SIZE: 11px;
    FONT-WEIGHT: bold
}

.tabla-subcabecera-gde
{
  
    BACKGROUND:url(../images/fondo-subcabecera_gde.jpg) repeat-x;
    FONT-FAMILY:"FS ALBERT", VERDANA, ARIAL;
    COLOR: #FFFFFF;
    FONT-SIZE: 11px;
    FONT-WEIGHT: bold
}

.titulo
{
    /*COLOR: #ffff99;*/ /*COLOR:#F15D22;*/
    color: #f58026;
    font-weight: bold;  
}

.tabla-secundaria
{
    BACKGROUND-COLOR: #ffffff;
    FONT-FAMILY:"FS ALBERT", VERDANA, ARIAL;
    COLOR: #000000;
    FONT-SIZE: 11px
}


.tabla-sincolor
{
	Background-COLOR: inherit;
    FONT-FAMILY:"FS ALBERT", VERDANA, ARIAL;
    COLOR: #000000;
    FONT-SIZE: 11px
}

.tabla-anidada
{
	Background-COLOR: inherit;
    FONT-FAMILY:"FS ALBERT", VERDANA, ARIAL;
    COLOR: #828282;
    FONT-SIZE: 11px;
    FONT-WEIGHT: bold;
}

/*-------------------------------------------------*/
/*--------- Para Totalizar en las Tablas ----------*/

.tabla-totales
{	
    /*BACKGROUND-COLOR: #ffff99;*/
    BACKGROUND-COLOR: #F3F781;
    FONT-FAMILY:"FS ALBERT", VERDANA, ARIAL;
    COLOR: #000000;
    FONT-SIZE: 11px;
    FONT-WEIGHT: bold;
    border-color:White;
}
/*--------------------------------------------------*/
/*--------------------GRIDVIEW----------------------*/

.mGrid { 
    width: 100%; 
    font-family:Arial;
    background-color: #fff; 
    margin: 5px 0 10px 0; 
    border: solid 1px #525252; 
    border-collapse:collapse; 
}
.mGrid td { 
    padding: 2px; 
    border: solid 1px #c1c1c1; 
    color: #717171; 
}
.mGrid th { 
    padding: 4px 2px; 
    color: #fff; 
    background: #424242 url(grd_head.png) repeat-x top; 
    border-left: solid 1px #525252; 
    font-size: 0.9em; 
}
.mGrid .alt { background: #fcfcfc url(grd_alt.png) repeat-x top; }
.mGrid .pgr { background: #424242 url(grd_pgr.png) repeat-x top; }
.mGrid .pgr table { margin: 5px 0; }
.mGrid .pgr td { 
    border-width: 0; 
    padding: 0 6px; 
    border-left: solid 1px #666; 
    font-weight: bold; 
    color: #fff; 
    line-height: 12px; 
 }   
.mGrid .pgr a { color: #666; text-decoration: none; }
.mGrid .pgr a:hover { color: #000; text-decoration: none; }


/*--------------------------------------------------*/

/*------------------- Botones -----------------------*/
.boton
{
    BACKGROUND-COLOR: #4E4280;
    BACKGROUND:url(../images/background-botonn.jpg) repeat-x;
    /*border-color: #000000;*/
    background: repeat-x;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    font-weight: bold; /*BACKGROUND-COLOR: #fcebdb;*/
    width: 100px;
    height: 30px; /*COLOR: white;*/
    color: #FFFFFF;
    cursor: hand;
    background-color: #000000;
    
}

.botonO
{
    BACKGROUND-COLOR: #FF9933;
    BACKGROUND:url(../images/background-botonn.jpg) repeat-x;
    /*border-color: #000000;*/
    background: repeat-x;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    font-weight: bold; /*BACKGROUND-COLOR: #fcebdb;*/
    width: 100px;
    height: 30px; /*COLOR: white;*/
    color: #FFFFFF;
    cursor: hand;
    background-color: #000000;
    
}


.bw
{
    BACKGROUND-COLOR: #4E4280;
    BACKGROUND:url(../images/background-botonn.jpg) repeat-x;
    /*border-color: #000000;*/
    background: repeat-x;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    font-weight: bold; /*BACKGROUND-COLOR: #fcebdb;*/
    width: 100px;
    height: 20px; /*COLOR: white;*/
    color: #FFFFFF;
    cursor: hand;
    background-color: #000000;
    
}



.boton-grid
{
    BACKGROUND-COLOR: #4E4280;
    BACKGROUND:url(../images/background-botonn.jpg) repeat-x;
    /*border-color: #000000;*/
    background: repeat-x;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    font-weight: bold; /*BACKGROUND-COLOR: #fcebdb;*/
    width: 60px;
    height: 20px; /*COLOR: white;*/
    color: #FFFFFF;
    cursor: hand;
    background-color: #000000;
    
}

.boton-ayuda
{
	CURSOR:hand;
	COLOR:#7b7b7b;
	FONT-SIZE: 11px;
	FONT-WEIGHT: normal;
	/*COLOR: white;*/
	/*BACKGROUND-COLOR:#4E4280; */
	BACKGROUND:url(../images/background-botonn.jpg) repeat-x;
	WIDTH: 22px; 
	HEIGHT: 22px;
	border-bottom-color:#fcb034;
	border-top-color:#fcb034;
	border-right-color:#fcb034;
    border-left-color:#fcb034
}

/*------------------ Ligas Como Botones----------*/

a:link
{
    text-decoration: none;
    color: #666666;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: normal;
}

.a-ayuda
{
    cursor: hand;
    border-color: #FEE7C0 #fcb034 #fcb034 #FEE7C0;
    border-style: solid;
    border-width: 1px 2px 2px 1px;
    background: url(../images/background-botonn.jpg) repeat-x;
    text-decoration: none;
    padding: 4px;
    width: 17px;
    height: 17px;   
    font-size: 8px;
    font-weight: normal;
    text-align: center;
}


.a-boton
{
    cursor: hand;
    border-color: #fcb034 #532900 #532900 #fcb034;
    border-style: solid;
    border-width: 2px;
    background: url(../images/background-botonn.jpg) repeat-x;
    text-decoration: none;
    padding: 4px;
    width: 100px;
    height: 2px;
    COLOR:#7b7b7b;
    CURSOR: hand;
    font-size: 11px;
    font-weight: normal;
    text-align: center;
}


/*Tablas*/

td
{
    vertical-align: top;
}

/**/

/*-------------------- Icono ----------------------*/
.icono 
{
	border:0;
	WIDTH:35px;
	HEIGHT:22px;	
	background: url("../images/gov.gif") no-repeat center center;
}


/*----------- Colores Especiales Text Box ----------*/

.deshabilitado
{
	background-color: #fcb034;	
	
}

.informacion
{
	background-color: #FFFF99;
}

.subtitulo
{
	color: #fcb034;
	FONT-WEIGHT: bold;
	FONT-SIZE: 11px;
}

/*------------------- Menú Frame Superior --------------------------------------*/
/*-------------------- Reflection Nav	----------------------------------------*/
		
		#nav-reflection {
			margin: 0 auto 50px auto;
			/*padding: 10px 0 0 172px;*/
			padding: 10px 0 0 950px;
			/*width: 250px;*/
			width: 100%;
			min-height: 60px;
			background: #FFFFFF url(../images/VDealer-Header.jpg) no-repeat scroll left top;
			/*background: #FFFFFF url(../images/GoV-HeaderG.jpg) no-repeat scroll left top;*//*top center no-repeat;*/
			list-style: none;
			position: relative;
			/*background-position:left*/

			}
			
		#nav-reflection li {
			margin-right: 0px;
			width: 55px;
			float: left;
			}
			
		#nav-reflection a, #nav-reflection a:visited, #nav-reflection a:hover {
			width: 59px;
			height: 45px;
			text-indent: -9999px;
			overflow: hidden;
			background: url(../images/icons.png) no-repeat;
			display: block;
			}
			
		#nav-reflection span {
			margin-top: 1px;
			width: 59px;
			height: 34px;
			text-align: center;
			background: url(../images/icons-reflections.jpg) no-repeat;
			display: block;
			}
			
		/* Button Colors */
		
		#nav-reflection li.button-color-1 a {
			background-position: -2px -2px;
			}
			
		#nav-reflection li.button-color-2 a {
			background-position: -69px -2px;
			}
			
		#nav-reflection li.button-color-3 a {
			background-position: -135px -2px;
			}
			
		#nav-reflection li.button-color-4 a {
			background-position: -202px -2px;
			}
			
		/* Button Reflection Color */
		
		#nav-reflection li.button-color-1 span {
			background-position: 0 0;
			}
			
		#nav-reflection li.button-color-2 span {
			background-position: -69px 0;
			}
			
		#nav-reflection li.button-color-3 span {
			background-position: -135px 0;
			}
			
		#nav-reflection li.button-color-4 span {
			background-position: -202px 0;
			}
/*------------------ Acaba menú ----------------------------------*/
/*---------------------------------------------------------------*/
			
ol
{
  width: 90em;  /* room for 3 columns */
}
ol li
{
  float: left;
  width: 25em;  /* accommodate the widest item */
}
/* stop the floating after the list */
br
{
  clear: left;
}
/* separate the list from what follows it */
div.wrapper
{
  margin-bottom: 1em;
}
/* anchor styling */
ol li a
{
  display: block;
  width: 10em;
  text-decoration: none;
}
ol li a:hover
{
  color: #FFF; /* white */
  background-color: #A52A2A; /* brown */
}

ul
{
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

ul li
{    
    color: #000000; 
    font-family: Arial, Helvetica, sans-serif; 
    font-weight: bold;   
    
}

ul li div
{
    padding: 5px;
}

/*Tabla de registros dinamicos*/

atable
{
    BORDER-BOTTOM: 0px;
    BORDER-LEFT: 0px;
    PADDING-BOTTOM: 0px;
    BACKGROUND:#868686 url(../images/background5.jpg) repeat-x;
   
}


/******************************/

/***bottom toolbar**/

#fixed-footer {
    background:#eee;
    border-top:1px solid #ccc;
    position:absolute;
    bottom:0;
    width:100%;
    height:32px;
}

 /* for moz/opera and others*/
html>body #fixed-footer{position:fixed}

#footer-inner {
    border-top:1px solid #fff;
    background:#eee;
    height: 31px;
}

#footer-inner {
		margin-right:17px;
}

#content {
    margin-bottom: 31px;
}

ul.footer-navigation,
ul.footer-navigation * { margin:0;padding:0;}
ul.footer-navigation {
    position:relative;
    font-size:1.1em;
    max-width:100%;
    height:2.5em;
}
ul.footer-navigation li {
    border-left:1px solid #fff;
    border-right:1px solid #ccc;
    cursor:pointer;
    float:left;
    text-align:center;
    list-style-type:none;
    font-weight:normal;
    padding-left:6px;
}
ul.footer-navigation li a {
    color:#333;
    text-decoration:none;
    display:block;
    float:left;
    padding:0 1em 0 24px;
    height:2.4em;
    line-height:2.5em;
}
ul.footer-navigation li:hover a,
ul.footer-navigation li a:hover,
ul.footer-navigation li a.selected,
ul.footer-navigation li a:focus {color:#333; background:#fff;}

/**FIX POSITION TOOLBAR**/
 
		html,
		body {
			margin: 0px 0px 0px 0px ;
			padding: 0px 0px 0px 0px ;
			}
 
		#site-body-container {}
 
		#site-body-content {
			padding: 15px 15px 15px 15px ;
			}
 
		#site-bottom-bar
        {
            background-color: #F0F0F0;
            border-top: 1px solid #CCCCCC;
            top: 0px;
            font-family: verdana, arial;
            font-size: 11px;
            height: 30px;
            position: fixed;
            width: 100%;
            z-index: 1000;
        }
        
        #site-user-bar
        {
            background-color: #F0F0F0;
            border-top: 1px solid #CCCCCC;
            top: 0px;
            right:380px;
            font-family: verdana, arial;
            font-size: 11px;
            height: 30px;
            position: fixed;
            width: 100px;
            z-index: 1001;
        }
        
         #site-lb-bar
        {
            background-color: #F0F0F0;
            border-top: 1px solid #CCCCCC;
            top: 0px;
            right:500px;
            font-family: verdana, arial;
            font-size: 11px;
            height: 30px;
            position: fixed;
            width: 400px;
            z-index: 1001;
        }
        
        #site-user-bar-frame {
			height: 30px ;
			margin: 0px 10px 0px 10px ;
			position: relative ;
		}
		
		 #site-lb-bar-frame {
			height: 30px ;
			margin: 10px 10px 10px 10px ;
			position: relative ;
		}
		
		#site-session-bar
        {
            background-color: #F0F0F0;
            border-top: 1px solid #CCCCCC;
            top: 0px;
            right: 200px;
            font-family: verdana, arial;
            font-size: 11px;
            height: 30px;
            position: fixed;
            width: 120px;
            z-index: 1001;
        }
        
        #site-session-bar-frame {
			height: 30px ;
			margin: 0px 10px 0px 10px ;
			position: relative ;
		}
		
		
		#site-session2-bar
        {
            background-color: #F0F0F0;
            border-top: 1px solid #CCCCCC;
            top: 0px;
            right: 40px;
            font-family: verdana, arial;
            font-size: 11px;
            height: 30px;
            position: fixed;
            width: 120px;
            z-index: 1001;
        }
        
        #site-session2-bar-frame {
			height: 30px ;
			margin: 0px 10px 0px 10px ;
			position: relative ;
		}
		
				
		#site-user-bar-content {
			padding: 3px 0px 3px 0px ;
		}
		
		#site-lb-bar-content {
			padding: 3px 0px 3px 0px ;
		}
		
		#site-session-bar-content {
			padding: 3px 0px 3px 0px ;
		}
		
		#site-session2-bar-content {
			padding: 3px 0px 3px 0px ;
		}
		
		#site-bottom-bar-content .usermenu {
            list-style-type: none;       
            height: 80px;
            width: 263px;        
        }
 
        #site-user-bar-content .usermenu li {            
            display: inline;             
            margin: 0 5px 0 0;
        }
        
        #site-session-bar-content .usermenu li {   
            margin: 5px 0 0 0;
        }
		
		
		#site-bottom-bar-content .sessionmenu2 {
            list-style-type: none;       
            height: 80px;
            width: 263px;        
        }
 
        #site-user-bar-content .sessionmenu2 li {            
            display: inline;             
            margin: 0 5px 0 0;
        }
        
        #site-session-bar-content .sessionmenu2 li {   
            margin: 5px 0 0 0;
        }
		
		#site-lb-bar-content .lbnmenu li {            
            display: inline;             
            margin: 0 5px 0 0;
        }
        
        #site-lb-bar-content .lbmenu li {   
            margin: 5px 0 0 0;
        }
		
 
		#site-bottom-bar-frame {
			height: 30px ;
			margin: 0px 10px 0px 10px ;
			position: relative ;
			}
 
		#site-bottom-bar-content {
			padding: 3px 0px 3px 0px ;
		}
				
		#site-bottom-bar-content .mainmenu {
            list-style-type: none;       
            height: 80px;
            width: 663px;        
        }
        
        #site-bottom-bar-content .mainmenur-content ul.mainmenu li {
            float: left;           
        }
 
		#menu-root
        {
            background-color: #FF9900;
            border: 1px solid #D0D0D0;
            color: #FFFFFF;
            display: block;
            height: 22px;
            line-height: 22px;
            text-align: center;
            width: 105px;
            font-family: Arial;
            font-size: 14px;
            font-weight: bold;
        }
 
		#menu-root:hover
        {
            background-color: #333333;
            border-color: #000000;
            color: #FFFFFF;
            font-family: Arial;
        }
        
        .usuario-root
        {
            background-color: #F0F0F0;
            border: 1px solid #D0D0D0;
            color: #000000;
            display:  inline-block;
            height: 22px;
            line-height: 22px;
            text-align: center;
            width: 85px;
            font-family: Arial;
            font-size: 10px;
            font-weight: bold;
        }
        
        
        .usuario-root:hover
        {
            background-color: #909090;
            border-color: #000000;
            color: #CACACA;
            font-family: Arial;
        }
 
		
		
		
		.session-natural
        {
            border-style: solid;
            border-width: 0px;
            background-color: #F0F0F0;
            color: #000000;
            display: block;
            height: 12px;
            line-height: 12px;
            text-align: center;           
            font-family: Arial;
            font-size: 10px;
            font-weight: bold;
        }
        
        .session-root
        {
            background-color: #F0F0F0;
            border: 1px solid #D0D0D0;
            color: #000000;
            display:  block;
            height: 12px;
            line-height: 12px;
            text-align: center;
            width: 85px;
            font-family: Arial;
            font-size: 10px;
            font-weight: bold;
        }
 
		.session-root:hover
        {
            background-color: #909090;
            border-color: #000000;
            color: #CACACA;
            font-family: Arial;
        }
        

		#navigation {
			background-color: #E8E8E8 ;
			border: 1px solid #666666 ;
			top: 32px ;
			display: none ;
			left: 0px ;
			padding: 5px 5px 1px 5px ;
			position: absolute ;
			width: 200px ;
			}
 
		#navigation a {
			background-color: #E8E8E8 ;
			border: 1px solid #FFFFFF ;
			color: #000000 ;
			display: block ;
			margin-bottom: 4px ;
			padding: 5px 0px 5px 5px ;
			text-decoration: none ;
			}
 
		#navigation a:hover {
			background-color: #666666 ;
			border-color: #000000 ;
			color: #FFFFFF ;
			}
			
	 
			
			
 
		/* -------------------------------------------------- */
		/* -- IE 6 FIXED POSITION HACK ---------------------- */
		/* -------------------------------------------------- */
 
		html,
		body,
		#site-body-container {
			_height: 100% ;
			_overflow: hidden ;
			_width: 100% ;
			}
 
		#site-body-container {
			_overflow-y: scroll ;
			_overflow-x: hidden ;
			_position: relative ;
			}
 
		/* To make up for scroll-bar. */
		#site-bottom-bar {
			_bottom: -1px ;
			_position: absolute ;
			_right: 16px ;
			}
 
		/* To make up for overflow left. */
		#site-bottom-bar-frame {
			_margin-left: 26px ;
			}
 
		/* To fix IE6 display bugs. */
		#navigation a {
			_display: block ;
			_width: 99% ;
			}
			
		#menu
        {
            position: relative;
            top: 0px;
            left: 0px;
            margin: 0px 0px 0px 0px;
            list-style-type: none;
        }	
			
						
	    ul#menu  
	    {   
	        
	        visibility: hidden; 	
	        list-style-type: none;    
	    }

        #menu a
        {           
            line-height: 10pt;
            font-family: Arial;
            text-transform: uppercase;
            font-variant: small-caps;
            font-weight: bold;            
        }
       
        #menu a:hover, #menu a.unfolded, #menu a.unfolded:hover
        {
            background-color: #666666;
            border-color: #000000;
            color: #FFFFFF;
        }

        #menu li
        {
            position: relative;           
            margin: 0px;
            padding: 3px 5px 3px 5px;
        }

        #menu li ul
        {                        
            background-color: #E8E8E8 ;
			border: 1px solid #666666 ;
			top: 0px ;
			display: none ;			
			left: 0px ;
			padding: 5px 5px 1px 5px ;
			position: absolute;
			width: 200px ;
            list-style-type: none;
            font-family: Arial;
           
            
        }        
        

        #menu li ul { left: 198px; width: 200px; z-index: 2001; }     
        html>body #menu LI UL { left: 198px; z-index: 2001; }

        #menu li ul li ul { left: 198px; width: 200px; z-index: 3001; }
        html>body #menu li ul li ul { left:198px; z-index: 3001;}		       
        
        #menu li ul li ul li ul { left: 198px; width: 200px; z-index: 4001; }
        html>body #menu li ul li ul li ul { left: 198px; z-index: 4001;}		       
        
        
        
	  
			
/***/